footer{
    @extend .container;
    background-color: #28292b;
    width: 100%;
    color: #ffffff;

    .footer__section{
        display: flex;
        justify-content: space-around;
        background-color: #28292b;
        width: 100%;
        max-width: 1900px;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .footer__logo{
        display: block;
        padding: 15px 0;
        height: 150px;
    }

    .footer__p{
        line-height: 1.8;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        max-width: 600px;
        padding-top: 60px;
        margin-bottom: 0px;
    }
    

    .footer__h3{
        padding-top: 15px;
        font-size: 30px;
        color: #777777;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .contactenos__p{
        display: inline-block;
        padding-left: 10px;
        color: #ffffff;
        
    }
    
    .footer__div--a{
        display: flex;
        flex-direction:column;
        align-items: center;
        
    }

    .rrss{
        margin: 5px ;
    }

    .rrss:hover{
        background-color: #494949;
        border-radius: 100%;
        cursor: pointer;
    }
    
    
    
    .footer__div--b{
        background-color: map-get($estilos, fondo);
        font-size:map-get($estilos,fuente);
        padding:map-get($estilos,padding);
        color:map-get($estilos,color);
        text-align:map-get($estilos,texto);
        font-family: 'Open Sans', sans-serif;
    }
    
    .footer__div--c{
        display: flex;
        flex-direction: column;
    }
}



