footer{
    @extend .container;
    background-color: #666666;
    width: 100%;

    .footer__section{
        display: flex;
        justify-content: center;
        background-color: #666666;
        width: 100%;
        max-width: 1900px;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .footer__logo{
        display: block;
        padding: 15px 0;
        height: 120px;
    }

    .footer__p{
        line-height: 1.8;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        max-width: 600px;
        padding-top: 15px;
    }
    
    .footer__div{
        width:  400px;
    }

    .footer__h3{
        padding-top: 15px;
        text-decoration: underline;
        font-size: 35px;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    
    .footer__div--a{
        padding-top: 30px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .footer__a{
        flex-direction: column;
        text-decoration: none;
        padding: 20px 0;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
    }
    
    .maps{
        text-align: center;
        /* BORRAR DESPUES*/
    }
    
    .footer__div--b{
        background-color: map-get($estilos, fondo);
        font-size:map-get($estilos,fuente);
        padding:map-get($estilos,padding);
        color:map-get($estilos,color);
        text-align:map-get($estilos,texto);
        font-family: 'Open Sans', sans-serif;
    }

}



