.div__iframe{
        width: 680px;
        padding: 40px;
        margin: auto;
        background-color: #990e31;
        border-radius: 10px;

        .iframe{
            text-align: center;
            margin: auto;
        }
        
        h4{
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
        }
    }

